
.main {
  margin-top: 14px;
  backdrop-filter: blur(10px);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
}

.hero {
  height: 200px;
  width: 100%;

}