
.main {
  width: 100%;
}

.hero {
  width: 100%;
  margin-top: 14px;
  display: block;
}

.introTextContainer {
  margin-top: 14px;
  width: 100%;
}

.introTextTitle {
  font-size: 36px;
  font-weight: 500;
  font-family: 'Birthstone Bounce';
  text-align: center;
  padding-top: 10px;
}

.introText {
  padding-top: 10px;
  margin-left: 14px;
  margin-right: 14px;
}

.bodyTypesContainer {
  width: 100%;
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
}

.bodyType {
  flex-basis: 20%;
  border-radius: 25%;
}

.roundedImg {
  border-radius: 25%;
}

